* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right,cadetblue,deepskyblue);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3rem;
    color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 7px;
    margin: 3%;
    text-align: center;
    background-color: yellow;
}

.instrucciones {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 2%;
    text-align: center;
}

.instrucciones b {
    color:darkblue;
    text-decoration: underline;
}

.descripcion, .precio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3%;
}

.descripcion {
    text-align: justify;
}

.descripcion b {
    color: white;
    background-color: brown;
}

.precio {
    text-align: center;
    background-color: antiquewhite;
}

.imagenes, .detalles {
    text-align: center;
}

.img-index, .img-detalles {
    margin: 2%;
    width: 20rem;
    
}

.img-index {
    border: 2px solid;
    border-color:darkblue;
    border-radius: 5px;
}

.volver {
    text-align: center;
}

.boton_volver, .boton_arriba {
    display: inline-block;
    padding: 1%;
    margin: 3%;
}