* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/img/polkadotlile.jpg");
    background-repeat: repeat;
    /* background: linear-gradient(to bottom right,cadetblue,deepskyblue); */
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3rem;
    color: black;
    border: 2.5px solid;
    border-color: black;
    border-radius: 7px;
    margin: 3%;
    text-align: center;
    background-color: yellow;
}

.instrucciones, .descripcion {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 3%;
    margin-top: 0;
    margin-bottom: 1%;
    text-align: center;
    padding: 1%;
}

.instrucciones b {
    color:darkblue;
    text-decoration: underline;
}

.descripcion {
    margin-bottom: 0.5%;
}

.descripcion b {
    color: white;
    background-color: brown;
}

.precio {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightpink;
    margin-left: 3%;
    margin-right: 3%;
}

.imagenes, .detalles {
    text-align: center;
}

.img-index, .img-detalles {
    margin: 2%;
    width: 20rem;
    
}

.img-index {
    border: 2px solid;
    border-color:darkblue;
    border-radius: 5px;
}

.volver {
    text-align: center;
}

.boton_volver, .boton_arriba {
    display: inline-block;
    padding: 1%;
    margin: 3%;
}